In [18]:
my_set = {1,2,3,4,5,6}
type(my_set)

set

#methods used
#add

In [19]:
myset = set()
myset.add(1)
myset.add(2)
myset.add(3)
myset.add(4)
myset.add(3)
myset.add(1)
myset.add(5)
myset

{1, 2, 3, 4, 5}

In [25]:
test_results = {95,80,75,60}
#add method

test_results.add(100)
test_results.add(100)
test_results.add(80)
test_results.add(65)

test_results

{60, 65, 75, 80, 95, 100}

In [ ]:
my_tuple = (1,2,3,4,3,5,3,5)

result = set(my_tuple)

result

{1, 2, 3, 4, 5}

In [20]:
my_list = [1,2,3,4,5,1,2,3,4,5]

result1 = set(my_list)

print(result1)

{1, 2, 3, 4, 5}

#Intersection
shows the items that are similar within a set or more sets.

In [ ]:
#intersection

set_A = {4,6,10,21,14,5,2,11}
set_B = {1,8,7,13,12,3,5,2,11}

result2 = set.intersection(set_A,set_B)

print(result2)

{2, 11, 5}

In [ ]:
set_A = {2,4,5,6,10,11,14,21}
set_B = {1,8,7,13,12,3,5,2,11}
set_C = {2,5,6,10,13,18,19,20}

result2 = set.intersection(set_A,set_B,set_C)

print(result2)

{2, 5}

In [23]:
#Difference
set_A = {2,4,5,6,10,11,14,21}
set_B = {1,2,3,5,8,7,11,12,13}
set_C = {2,5,6,10,13,18,19,20}

result3 = set_A.difference(set_B)# unique items that appear in one set 
#and are not in the other


print(result3)

{4, 6, 10, 14, 21}

In [24]:
#union

set_A = {2,4,5,6,10,11,14,21}
set_B = {1,8,7,13,12,3,5,2,11}
set_C = {2,5,6,10,13,18,19,20}

result2 = set.union(set_A,set_B,set_C)

print(result2)

{1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 18, 19, 20, 21}

In [ ]:
#boolean
1 == 1

True

In [ ]:
1 > 1

False

In [ ]:
1 < 1

False

In [ ]:
1 > 0

True

In [ ]:
set_A = {2,4,5,6,10,11,14,21}
set_B = {1,8,7,13,12,3,5,2,11}
set_C = {2,5,6,10,13,18,19,20}

result2 = set.difference(set_A,set_B,set_C)

print(result2)

{4, 14, 21}

Exercises:

How do you add an element to a set

In [26]:


set_C = {1000, 2000, 3000, 2000, 5000}
set_D = {3000, 4000, 5000, 7000, 8000, 9000}

type(set_C)

set

In [27]:
set_C.add(6000)
set_C.add(6000)
set_C.add(10)

set_C

{10, 1000, 2000, 3000, 5000, 6000}

In [36]:
#set.intersection()

set_C = {1000,2000,3000,2000,5000}
set_D = {3000,4000,5000,7000.8000,9000}

results = set.intersection(set_C, set_D)
print(results)

{5000, 3000}

In [37]:
#set.difference()

set_C = {1000,2000,3000,2000,5000}
set_D = {3000,4000,5000,7000,8000,9000}

results = set_C.difference(set_D)
print(results)

{1000, 2000}

In [39]:
#set.union()

set_C = {1000,2000,3000,2000,5000}
set_D = {3000,4000,5000,7000,8000,9000}

results = set.union(set_C, set_D)
print(results)

{4000, 8000, 1000, 5000, 9000, 2000, 7000, 3000}

2. How does a set differ from a List?

Sets dont show the repeated items within the set whereas the List shows the repeated items within the set.

In [30]:
test_results = set()

test_results.add(65)
test_results.add(70)
test_results.add(65)
test_results.add(80)
test_results.add(80)

test_results

{65, 70, 80}

In [31]:
my_list = [0,1,2, 3, 3, 4, 5, 5, 7]
result = set(my_list)
result

{0, 1, 2, 3, 4, 5, 7}

 3. What is the result of set[1,2,1,4,2,4,1]

In [32]:
my_list = [1,2,1,4,2,4,1]
result = set(my_list)
result

{1, 2, 4}

4. What is the result of Len (set([1,2,1,4,2,4,1]))

In [40]:
my_list = [1,2,1,4,2,4,1]
result = len(my_list)
result

7